@tailwind base;
/* Your own custom base styles */
body {
  font-family: "Utopia", Cambria, Cochin, Georgia, Times, "Times New Roman",
    serif;
}
.text-pixel {
  font-family: "188 Sans Pixel 70", "Courier New", Courier, monospace;
}
.text-caption {
  font-family: Roman, "Courier New", Courier, monospace;
}
p {
  font-family: Roman, "Courier New", Courier, monospace;
}
.container {
  max-width: 1200px;
  margin: auto;
}
@tailwind components;
/* Your own custom component styles */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@tailwind utilities;
/* Your own custom utilities */
