@font-face {
  font-family: "Utopia";
  src: url(./fonts/Utopia-Regular.otf) format("opentype");
}

@font-face {
  font-family: "188 Sans Pixel 70";
  src: url(./fonts/188-Sans-Pixel-70.otf) format("opentype");
}
